*

!.gitignore
!.gitmodules
!.profile
!.xinitrc
!.xprofile
!.zprofile
!.local/bin/*
!.local/bin/toggle
!.local/share/applications/*
!.local/share/larbs/*
!.local/share/bg
!.local/share/thiemeyer_road_to_samarkand.jpg
!.config/bspwm/*
!.config/calcurse/conf
!.config/calcurse/keys
!.config/dunst/*
!.config/fontconfig/*
!.config/gtk-2.0/*
!.config/gtk-3.0/*
!.config/i3/*
!.config/i3blocks/*
!.config/lf/*
!.config/mpd/mpd.conf
!.config/mpv/input.conf
!.config/mpv/scripts/modules.lua
!.config/mpv/scripts/mpvSockets
!.config/ncmpcpp/*
!.config/newsboat/*
.config/newsboat/urls
!.config/nvim/init.vim
!.config/nvim/UltiSnips
!.config/nvim/UltiSnips/*
!.config/polybar/*
!.config/ranger/*
!.config/sxhkd/*
!.config/sxiv/exec/*
!.config/tmux/*
!.config/vifm/*
!.config/wal/*
!.config/wget/*
!.config/zathura/*
!.config/zsh/*
!.config/Xresources
!.config/aliasrc
!.config/directories
!.config/files
!.config/inputrc
!.config/mimeapps.list
!.config/user-dirs.dirs
!.config/xinitrc
